* {
  margin : 0;
  padding: 0
}

body {
  max-width: 750px;
  margin   : 0 auto;
}

.wrapperWidth {
  max-width: 750px;
  margin   : 0 auto;
}

.text-line {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap
}